{% extends 'base_todo_template.html' %}

{% block TITLE %}All Tasks{% endblock TITLE %}

{% block WELCOME %}
    <p>
        Hi {{request.user}},
    </p>
    <p>
        All your To-Do tasks are listed below, including completed tasks.
    </p>
{% endblock WELCOME %}

<body>
    {% block SECTION_CONTENT %}
    <h1>To-Do</h1>
    <ol>
        {% for task in tasks %}
            <li><a href="{% url 'todo:task_detail' task.id %}">{{ task }}</a></li>
        {% endfor %}
    </ol>
    {% endblock SECTION_CONTENT %}
</body>