{% extends 'base_todo_template.html' %}

{% block TITLE %}Edit To-Do task{% endblock TITLE %}

{% block WELCOME %}
    <p>Hi {{request.user}},</p>
    <p>
        Please fill the form below to specify your changes. 
    </p>
{% endblock WELCOME %}

<body>
    {% block SECTION_CONTENT %}
    <h1>{{task.title|title}}</h1>
    <p>
        <strong>
            {% if error_message %}{{error_message}}{% endif %}
        </strong>
    </p>
    <form method="post" action="{% url 'todo:edit_task' task.id %}">
        {% csrf_token %}
        {{ form.as_p }}
        <p>
            <button type="submit">Save</button>
        </p>
    </form>
    {% endblock SECTION_CONTENT %}
</body>