.card{
    padding: 5px;
    text-align: center;
    font-family: Arial, sans-serif;
    color: blue;
    border-radius: 50px;
}

.card img{
    width: 50%;
    height: 50%;
    border-radius: 50px;
}

.card h3{
    font-size: 1.5rem;
    margin: 10px 0;
}

.card p{
    font-size: 1rem;
    color: #333;
}