html{
    background-color: #ffffff;
    background-image: url('background-image2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

body{
    text-align: center;
}

h1{
    color: white;;
    font-size: 24pt;
    background-size: contain;
}

input{
    width: 300px;
    height: 30px;
    margin: 10px;
    padding: 5px;
    font-size: 16px;
}

button{
    width: 100px;
    height: 30px;
    margin: 10px;
    font-size: 20px;
    background-color: rgb(144, 144, 186);
    color: white;
    border: none;
    position: relative;
    left: -100px;
}

#signup-prompt {
    color: white;
    font-size: 20px;
    margin-top: 20px;
}