<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    Welcome {{request.user}}!
    <h1>Home</h1>
    <p>Welcome to the home page</p>
    <p>
        <a href="{% url 'todo:view_all_tasks' %}">See all todo tasks</a>
    </p>
    <p>
        <a href="{% url 'todo:view_pending_tasks' %}">See pending todo tasks</a>
    </p>
    <p>
        <a href="{% url 'todo:view_completed_tasks' %}">See completed todo tasks</a>
    </p>
    <p>
        <a href="{% url 'todo:create_task' %}">Make a new todo task entry</a>
    </p>

    {% if request.user.is_authenticated %}
        <p>
            <a href="{% url 'user_auth:signout' %}">Sign Out</a>
        </p>
    {% else %}
        <p>
            <a href="{% url 'user_auth:signin' %}">Sign In</a>
        </p>
        <p>
            <a href="{% url 'user_auth:signup' %}">Sign Up</a>
        </p>
    {% endif %}
</body>
</html>